.organigram {

    > div {
        margin: 0 auto;
    }

    .portlet {
        margin: 0 auto;
        margin-bottom: 1rem;
    }

    .unit {
        margin: 1rem auto;
    }

    .departments {
        margin: .5rem;
        padding: 1rem 1rem 0 1rem;
        box-sizing: border-box;
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;
        flex-wrap: wrap;
        border: 1px solid rgb(218, 218, 218);
    }

    .position {
        margin: 0 auto;
        padding: 1rem;
    }
}